/* FONTS FACES */
@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('../fonts/IbarraRealNova-Regular.woff2') format('woff2'),
    url('../fonts/IbarraRealNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Bold.woff2') format('woff2'),
    url('../fonts/PublicSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('../fonts/IbarraRealNova-Bold.woff2') format('woff2'),
    url('../fonts/IbarraRealNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Medium.woff2') format('woff2'),
    url('../fonts/PublicSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/PublicSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Regular.woff2') format('woff2'),
    url('../fonts/PublicSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Thin.woff2') format('woff2'),
    url('../fonts/PublicSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


/* CUSTOM PROPS */
:root {
    --font-ibarra: "Ibarra Real Nova", "Times New Roman", serif;
    --font-public-sans: "Public Sans", "Arial", sans-serif;
    --green: #5FB4A2;
    --dark-blue: #203A4C;
    --grayish-dark-blue: #33323D;
    --very-light-gray: #FAFAFA;
    --light-gray: #EAEAEB;
    --bright-red: #F43030;
}

/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    font-family: var(--font-public-sans);
    background-color: var(--very-light-gray);
    color: var(--grayish-dark-blue);
}

img {
    max-width: 100%;
    height: auto;
}


/* LOGO */
.logo {
    display: block;
    text-decoration: none;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}

.logo__img {
    display: block;
    width: 61px;
    height: 32px;
}


/* SITENAV */
.sitenav__list {
    padding: 0;
    margin: 0;
    list-style: none;
}



.sitenav__item:not(:last-child) {
    margin-bottom: 32px;
}

.sitenav__link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.sitenav__link:hover {
    opacity: 0.8;
}

.sitenav__link:active {
    opacity: 0.6;
}

.sitenav__item--active .sitenav__link {
    color: var(--green);
}


/* CTA-BUTTON */
.cta-button {
    display: inline-block;
    min-width: 200px;
    padding: 0;
    text-decoration: none;
    background-color: var(--dark-blue);
    color: #fff;
    border: 0;
    cursor: pointer;
}

.cta-button:hover {
    background-color: var(--green);
}

.cta-button:active {
    opacity: 0.6;
}

.cta-button:disabled {
    opacity: 0.2;
    pointer-events: none;
    cursor: not-allowed;
}

.cta-button:hover .cta-button__append {
    color: #fff;
}

.cta-button__inner {
    display: flex;
}

.cta-button__append {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    color: var(--green);
    background-color: rgba(0, 0, 0, 0.1);
}

.cta-button__text {
    flex-grow: 1;
    padding: 17px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
}


/* BUTTON */
.button {
    display: inline-block;
    padding: 16px 32px;
    border: 1px solid var(--grayish-dark-blue);
    font-size: 12px;
    line-height: normal;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    color: var(--dark-blue);
    cursor: pointer;
}

.button:hover {
    background-color: var(--grayish-dark-blue);
    color: #fff;
}

.button:active {
    opacity: 0.6;
}

.button:disabled {
    pointer-events: none;
    opacity: 0.2;
}


/* IMG-TEXT-INFO */

.img-text-info__picture {
    display: block;
}

.img-text-info__img {
    display: block;
    width: 100%;
    margin-bottom: 32px;
}

.img-text-info__info {
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.img-text-info-index-about-me .img-text-info__info {
    padding-top: 32px;
    padding-bottom: 50px;
} 

.img-text-info__title {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: var(--font-ibarra);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 105% */
    letter-spacing: -0.357px;
}

.img-text-info-index-about-me .img-text-info__title {
    margin-bottom: 28px;
}

.img-text-info__description {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 200% */
    opacity: 0.8;
}



/* ABOUT ME */
.about-me {
    margin-bottom: 115px;
}





/* AUTO-FILLS STYLES*/
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: transparent;
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
} */

/* PLACEHOLDER-STYLES */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder { 
    color: rgba(52, 49, 61, 0.5);
    opacity: 1;
}  */


/* VISUALLY-HIDDEN */
.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1180px;
    padding-left: 32px;
    padding-right: 32px;
    margin-right: auto;
    margin-left: auto;
}

/* MAIN-CONTENT */

main {
    flex-grow: 1;
}


/* SITE-HEADER */
.site-header {
    position: relative;
    z-index: 1;
    padding-top: 32px;
    padding-bottom: 40px;
}

.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo {
    margin-right: auto;
}

.site-header__sitenav {
    display: none;
}

.site-header--open .site-header__sitenav {
    display: block;
    position: absolute;
    z-index: 1;
    right: 32px;
    top: 88px;
    min-width: 223px;
    max-width: calc(100% - 64px);
    padding: 40px;
    background-color: var(--grayish-dark-blue);
}

.site-header__toggler {
    display: block;
    width: 24px;
    height: 19px;
    border: 0;
    background-color: transparent;
    background-image: url("../img/site-header-toggle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.site-header--open .site-header__toggler {
    background-image: url("../img/close.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}



/* MAIN-CONTENT */
/* HERO */
.hero {
    margin-bottom: 96px;
}

.hero__img {
    display: block;
    width: 100%;
    height: 271px;
    margin-bottom: 24px;
    object-fit: cover;
    object-position: center top;
}

.hero__heading {
    margin-top: 0;
    margin-bottom: 32px;
    font-family: var(--font-ibarra);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 105% */
    letter-spacing: -0.357px;
}




/* SITE-FOOTER */
.site-footer {
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: var(--grayish-dark-blue);
}

.site-footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-footer__logo {
    margin-bottom: 40px;
}

.site-footerr__sitenav {
    margin-bottom: 40px;
}


/* SOCIALS */
.socials__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.socials__item:not(:last-child) {
    margin-right: 16px;
}

.socials__link {
    display: block;
    color: #fff;
}

.socials__icon {
    display: block;
}


@media only screen and (min-width: 500px) {
    .hero__img {
        height: 600px;
    }
}

@media only screen and (min-width: 550px) {
    .img-text-info {
        display: flex;
        align-items: center;
    } 
    
    .info-text-info:nth-child(even) {
        flex-direction: row-reverse;
    }
    
    .img-text-info__img {
        margin-bottom: 0;
    }
    
    .img-text-info__info {
        width: 60%;
        margin-left: 32px;
    }
    
    .info-text-info:nth-child(even) .img-text-info__info  {
        margin-left: 0;
        margin-right: 32px;
    }
    
    .img-text-info-index-about-me {
        align-items: stretch;
    }
    
    .img-text-info-index-about-me .img-text-info__img {
        height: 100%;
        object-fit: cover;
        object-position: right bottom ;
    }
}


@media only screen and (min-width: 700px) {
    .site-footer {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    
    .site-footer__container {
        flex-direction: row;
    }
    
    .site-footer__logo {
        margin-right: 48px;
        margin-bottom: 0;
    }
    
    .site-footerr__sitenav {
        flex-grow: 1;
        margin-bottom: 0;
        margin-right: 48px;
    }
    
    .sitenav__list--site-footer {
        display: flex;
        align-items: center;
    }
    
    .sitenav__list--site-footer .sitenav__item:not(:last-child) {
        margin-bottom: 0;
        margin-right: 42px;
    }
}


@media only screen and (min-width: 768px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .site-header {
        padding-top: 64px;
        padding-bottom: 47px;
    }
    
    .site-header__sitenav,
    .site-header--open .site-header__sitenav {
        position: static;
        display: block;
        padding: 0;
        background-color: transparent;
    }
    
    .sitenav__site-header .sitenav__list {
        display: flex;
    }
    
    .sitenav__item:not(:last-child) {
        margin-bottom: 0;
        margin-right: 40px;
    }
    
    .sitenav__site-header .sitenav__link {
        color: var(--grayish-dark-blue);
    }
    
    .site-header__toggler {
        display: none;
    }
    
    .sitenav__item--active .sitenav__link {
        color: var(--green);
    }
    
    .hero__container {
        position: relative;
        z-index: 1;
    }
    
    .hero__img {
        margin-bottom: 0;
    }
    
    .hero__text-wrapper {
        position: absolute;
        z-index: 1;
        left: 40px;
        bottom: 0;
        width: 514px;
        padding-top: 56px;
        padding-right: 56px;
        background-color: var(--very-light-gray);
    }
    
    .hero__heading {
        margin-bottom: 48px;
    }

    .img-text-info__picture {
        flex-shrink: 0;
    }
    
    .img-text-info__img {
        flex-shrink: 0;
        width: 340px;
        height: 315px;
        margin-bottom: 0;
        object-fit: cover;
    }

    .img-text-info-index-about-me .img-text-info__img {
        width: 281px;
    }
    
    .img-text-info__info {
        flex-shrink: 1;
        width: auto;
        margin-left: 69px;
    }

    .img-text-info-index-about-me .img-text-info__info {
        padding-top: 50px;
    }
    
    .img-text-info__info:nth-child(even) .img-text-info__info {
        margin-right: 69px;
        margin-left: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .hero {
        margin-bottom: 150px;
    }
    
    .hero__text-wrapper {
        width: 445px;
    }
    
    .hero__heading {
        margin-bottom: 56px;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.446px;
    }
    
    .img-text-info-index-about-me .img-text-info__img {
        width: 540px;
        height: 600px;
    }
}

@media only screen and (min-width: 1180px) {
    .site-header {
        padding-bottom: 54px;
    }
    
    .img-text-info {
        align-items: stretch;
    }
    
    
    .img-text-info__img {
        width: 540px;
        height: 500px;
        margin-right: 0;
    }
    
    .img-text-info__info {
        padding-top: 103px;
        padding-bottom: 103px;
        margin-left: 125px;
        margin-right: 96px;
    }
    
    .img-text-info__info:nth-child(even) .img-text-info__info {
        margin-right: 125px;
        margin-left: 96px;
    }
    
    
    .img-text-info__title {
        margin-bottom: 28px;
    }
    
    .img-text-info__description {
        font-size: 16px;
    }
}