/* FONTS FACES */
@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('../fonts/IbarraRealNova-Regular.woff2') format('woff2'),
    url('../fonts/IbarraRealNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Bold.woff2') format('woff2'),
    url('../fonts/PublicSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('../fonts/IbarraRealNova-Bold.woff2') format('woff2'),
    url('../fonts/IbarraRealNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Medium.woff2') format('woff2'),
    url('../fonts/PublicSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/PublicSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Regular.woff2') format('woff2'),
    url('../fonts/PublicSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Thin.woff2') format('woff2'),
    url('../fonts/PublicSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


/* CUSTOM PROPS */
:root {
    --font-ibarra: "Ibarra Real Nova", "Times New Roman", serif;
    --font-public-sans: "Public Sans", "Arial", sans-serif;
    --green: #5FB4A2;
    --dark-blue: #203A4C;
    --grayish-dark-blue: #33323D;
    --very-light-gray: #FAFAFA;
    --light-gray: #EAEAEB;
    --bright-red: #F43030;
}

/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 30px;
    font-family: var(--font-public-sans);
    background-color: var(--very-light-gray);
    color: var(--grayish-dark-blue);
}

img {
    max-width: 100%;
    height: auto;
}


/* LOGO */
.logo {
    display: block;
    text-decoration: none;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}

.logo__img {
    display: block;
    width: 61px;
    height: 32px;
}


/* SITENAV */
.sitenav__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-bottom: 32px;
}

.sitenav__link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.sitenav__link:hover {
    opacity: 0.8;
}

.sitenav__link:active {
    opacity: 0.6;
}

.sitenav__item--active .sitenav__link {
    color: var(--green);
}



/* AUTO-FILLS STYLES*/
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: transparent;
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
} */

/* PLACEHOLDER-STYLES */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder { 
    color: rgba(52, 49, 61, 0.5);
    opacity: 1;
}  */


/* VISUALLY-HIDDEN */
.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1180px;
    padding-left: 32px;
    padding-right: 32px;
    margin-right: auto;
    margin-left: auto;
}

/* MAIN-CONTENT */

main {
    flex-grow: 1;
}


/* SITE-HEADER */
.site-header {
    position: relative;
    z-index: 1;
    padding-top: 32px;
    padding-bottom: 40px;
}

.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo {
    margin-right: auto;
}

.site-header__sitenav {
    display: none;
}

.site-header--open .site-header__sitenav {
    display: block;
    position: absolute;
    z-index: 1;
    right: 32px;
    top: 88px;
    min-width: 223px;
    max-width: calc(100% - 64px);
    padding: 40px;
    background-color: var(--grayish-dark-blue);
}

.site-header__toggler {
    display: block;
    width: 24px;
    height: 19px;
    border: 0;
    background-color: transparent;
    background-image: url("../img/site-header-toggle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.site-header--open .site-header__toggler {
    background-image: url("../img/close.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}



@media only screen and (min-width: 768px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .site-header {
        padding-top: 64px;
        padding-bottom: 47px;
    }
    
    .site-header__sitenav,
        .site-header--open .site-header__sitenav {
        position: static;
        display: block;
        padding: 0;
        background-color: transparent;
    }

    .sitenav__site-header .sitenav__list {
        display: flex;
    }

    .sitenav__item:not(:last-child) {
        margin-bottom: 0;
        margin-right: 40px;
    }

    .sitenav__site-header .sitenav__link {
        color: var(--grayish-dark-blue);
    }

    .site-header__toggler {
        display: none;
    }

    .sitenav__item--active .sitenav__link {
        color: var(--green);
    }
}

@media only screen and (min-width: 1180px) {
    .site-header {
        padding-bottom: 54px;
    }
}